body {
    position: relative;
    height: 100vh;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.sun {
    width: 103px;
    height: 105px;
    background-color: #ffdb58;
    border-radius: 50%;
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: eclipse 15s linear forwards;
}

.moon {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    animation: moonMove 15s linear forwards;
}

#message-container {
    position: absolute;
    color: white;
    font-size: 25px;
    text-align: center;
    width: 100%;
}

@keyframes moonMove {
    0% {
        left: 0;
        bottom: 0;
        box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5); 
    }
    100% {
        left: 46.35%;
        bottom: 50%;
        background-color: #000000; 
    }
}

@keyframes eclipse {
    0% {
        background-color: #ffdb58;
        box-shadow: 0 0 10px 10px rgba(255, 191, 88, 0.7); 
    }
    75% {
        background-color: #ffdb58; 
        box-shadow: 0 0 10px 10px rgba(255, 191, 88, 0.7); 
    }
    100% {
        background-color: #000000; 
        box-shadow: 0 0 10px 10px rgba(255, 191, 88, 0.7); 
    }
}
